# All files
* @JunhoHwoang

# Profile feature
/web-app/app/(profile)/ @EckXon
/web-app/lib/services/profile.ts @EckXon
/web-app/hooks/use-profile.ts @EckXon
/web-app/lib/auth.ts @EckXon

# Chat feature
/web-app/app/(chat)/ @Koodsu
/web-app/lib/services/chat.ts @Koodsu
/web-app/hooks/use-chat.ts @Koodsu

# Housing feature
/web-app/app/(housing)/ @Allam235
/web-app/lib/services/housing.ts @Allam235
/web-app/hooks/use-housing.ts @Allam235

# Match
/web-app/app/(match)/ @JunhoHwoang
/web-app/lib/services/match.ts @JunhoHwoang
/web-app/hooks/use-match.ts @JunhoHwoang

# Scraper
/scraper/ @Allam235
